:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

p {
  font-weight: normal;
  font-size: 16px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar {
  background-color: #e3f2fd;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}

.btn-primary {
  background: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  box-shadow: var(--box-shadow);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.25rem !important;
}

.row {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  height: auto;
  text-align: center;
}

img {
  vertical-align: middle;
}
